header {
  text-align: center;
  margin: 0 auto 0 auto;
  width: 810px;
  color: black;
}

/* 6. Write CSS rules that cause the header and .collage div to be centered on the page */

.collage {
  margin: 0 auto 0 auto;
  width: 810px;
}

/* 7. Write CSS rules that ensure that no more than 4 photos appear on a row */
